<div class="row">
	<div class="col-sm-3"><b>Sam Account Name: </b></div>
	<div class="col-sm-9">{{userDetail.sam_account_name}}</div>
	<div class="col-sm-3"><b>Computer Name from AD: </b></div>
	<div class="col-sm-9">{{userDetail.computer_name_from_ad}}</div>
	<div class="col-sm-3"><b>Company: </b></div>
	<div class="col-sm-9">{{userDetail.company}}</div>
	<div class="col-sm-3"><b>Status: </b></div>
	<div class="col-sm-9">{{userDetail.status}}</div>
	<div class="col-sm-3"><b>First Name: </b></div>
	<div class="col-sm-9">{{userDetail.first_name}}</div>
	<div class="col-sm-3"><b>Last Name: </b></div>
	<div class="col-sm-9">{{userDetail.last_name}}</div>
	<div class="col-sm-3"><b>Email: </b></div>
	<div class="col-sm-9">{{userDetail.email}}</div>
	<div class="col-sm-3"><b>Manu: </b></div>
	<div class="col-sm-9">{{userDetail.manu}}</div>
	<div class="col-sm-3"><b>Model: </b></div>
	<div class="col-sm-9">{{userDetail.model}}</div>
	<div class="col-sm-3"><b>Type: </b></div>
	<div class="col-sm-9">{{userDetail.type}}</div>
	<div class="col-sm-3"><b>Date Created: </b></div>
	<div class="col-sm-9">{{userDetail.date_created}}</div>
	<div class="col-sm-3"><b>OS: </b></div>
	<div class="col-sm-9">{{userDetail.os}}</div>
	<div class="col-sm-3"><b>Memory: </b></div>
	<div class="col-sm-9">{{userDetail.memory}}</div>
	<div class="col-sm-3"><b>Processor: </b></div>
	<div class="col-sm-9">{{userDetail.processor}}</div>
	<div class="col-sm-3"><b>Purchase Value: </b></div>
	<div class="col-sm-9">{{userDetail.purchase_value}}</div>
	<div class="col-sm-3"><b>Allowed Assets: </b></div>
	<div class="col-sm-9">{{userDetail.allowed_asset}}</div>
</div>