<div class="row">
  <div class="col-sm-3"><b>Service</b></div>
  <div class="col-sm-9">{{ assetDetail.service }}</div>
  <div class="col-sm-3"><b>Capex / Opex</b></div>
  <div class="col-sm-9">{{ assetDetail.capex_opex }}</div>
  <div class="col-sm-3"><b>License rented /owned</b></div>
  <div class="col-sm-9">{{ assetDetail.license_rented_owned }}</div>
  <div class="col-sm-3"><b>Depreciation Rate</b></div>
  <div class="col-sm-9">{{ assetDetail.depreciation_rate }}</div>
  <div class="col-sm-3"><b>Cost per License</b></div>
  <div class="col-sm-9">{{ assetDetail.cost_per_license }}</div>
  <div class="col-sm-3"><b>Owned By Group or Individual Company</b></div>
  <div class="col-sm-9">
    {{ assetDetail.owned_by_group_or_individual_company }}
  </div>
  <div class="col-sm-3"><b>Maintenace Status</b></div>
  <div class="col-sm-9">{{ assetDetail.maintenace_status }}</div>
  <div class="col-sm-3"><b>PAYG</b></div>
  <div class="col-sm-9">{{ assetDetail.payg }}</div>
  <div class="col-sm-3"><b>Payment Freq</b></div>
  <div class="col-sm-9">{{ assetDetail.payment_freq }}</div>
  <div class="col-sm-3"><b>Contract Length</b></div>
  <div class="col-sm-9">{{ assetDetail.contract_length }}</div>
  <div class="col-sm-3"><b>Expiry Date</b></div>
  <div class="col-sm-9">{{ assetDetail.expiry_date }}</div>
  <div class="col-sm-3"><b>Total Contract Value</b></div>
  <div class="col-sm-9">{{ assetDetail.total_contract_value }}</div>
  <div class="col-sm-3"><b>Volume of Users</b></div>
  <div class="col-sm-9">{{ assetDetail.volume_of_users }}</div>
  <div class="col-sm-3"><b>Per License Cost per year</b></div>
  <div class="col-sm-9">{{ assetDetail.per_license_cost_per_year }}</div>
  <div class="col-sm-3"><b>Total volume in of Licenses</b></div>
  <div class="col-sm-9">{{ assetDetail.total_volume_in_of_licenses }}</div>
  <div class="col-sm-3"><b>Available Licenses</b></div>
  <div class="col-sm-9">{{ assetDetail.available_licenses }}</div>
  <div class="col-sm-3"><b>Notes</b></div>
  <div class="col-sm-9">{{ assetDetail.notes }}</div>
</div>
